<h1>Today's practice:</h1>

<% if @regime.present? %>
	I HAVE A REGIME
	<% @regime.each do |exercise| %>
		<% if exercise.present? %>
			<h1>DAILY</h1>
			<h2><%= link_to exercise.class , '#'%></h2>
		<% end %>
	<% end %>
	
<% else %>
	<%= link_to "Get a practice regime for today", regime_path, method: :post %>
<% end %>	
	<%= link_to "New regime", regime_path, method: :post %>