<div class="row">
  <div class="control-group"></div>
    <div class="col-md-4 col-md-offset-4 center top-padding">
        <%= form_tag routine_path(exercise: @exercise.id), method: :patch do %>
          <p>
          Make this my exercise for <%= select_tag "timeframe", "<option value='daily'>Today</option><option value='weekly'>This Week</option><option value='monthly'>This Month</option>".html_safe %>
          <%= submit_tag "Assign", class: "btn btn-default btn-danger" %>
          </p>
        <% end %>  
        <p>
      	<%= link_to "Back to All Exercises", exercises_path %>
      </p>
    </div>
  </div>
</div>