<%= render scorecard.exercise %>

<div class="row">
  <div class="well">
  <p class="no-score4">
    It looks like you've not set any scores yet. Why don't you see how fast
    you can play this exercise for 4 bars without making any mistakes? Grab
    a metronome, a pair of sticks and your surface of choice and go!
  </p>
  <p class="no-score60">
    So you've proven you can play this exercise for 4 bars. Why not test your
    abilities a bit further? Try setting a score for 60 seconds with no mistakes!
  </p>
  <p class="no-score5">
    You've proven your mettle over 60 seconds, but, can you keep this up for
    the long haul? Try setting a score for 5 minutes with NO MISTAKES!
    This one is tough!
  </p>
  <p class="all-scores">
    Practise makes perfect! Set a new high score!
  </p>
  <p>
    Give up on this one? <%= link_to "Give me a new one", assign_new_daily_path %>, or 
      <%= link_to "browse all exercises", exercises_path %>.
  </p>
  </div>
</div>

<%= render partial: 'scorecards/scorebuttons' %>
