<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>4BARS</th>
			<th>60SEC</th>
			<th>5MIN</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Current High Scores:</td>
			<td>120</td>
			<td>110</td>
			<td>100</td>
		</tr>

	</tbody>
</table>