<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>4BARS</th>
			<th>60SEC</th>
			<th>5MIN</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Current High Scores:</td>
			<td><%= scorecard.score4 %></td>
			<td><%= scorecard.score60 %></td>
			<td><%= scorecard.score5 %></td>
		</tr>

	</tbody>
</table>