<% if @scorecards.empty? %>
	<p></p>
<% else %>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Exercise</th>
              <th>4 bars</th>
              <th>60 seconds</th>
              <th>5 minutes</th>
            </tr>
        </thead>
        <tbody>
        	<% @scorecards.each do |scorecard| %>
        	<tr>
        		<td><%= link_to scorecard.exercise.name, scorecard_path(current_user, scorecard) %></td>
        		<td><%= dash_nils scorecard.score4 %></td>
        		<td><%= dash_nils scorecard.score60 %></td>
        		<td><%= dash_nils scorecard.score5 %></td>
    		</tr>
    		<% end %>
    	</tbody>
    </table>
</div>
<% end %>

