<div class="row">
  <div class="col-md-9">
    <%= render @scorecard.exercise %>
  </div>
  <div class="col-md-3">
    <%= render partial: 'scorecards/score_widget', 
          locals: {scorecard: @scorecard} %>
  </div>
</div>
<hr />

<%= render 'assign_form', object: @scorecard %>

<div class="row">
  <div class="control-group"></div>
    <div class="col-md-4 col-md-offset-4 center top-padding">
      <p>
        <%= link_to "RESET scores", reset_scorecard_path(@scorecard), 
        	method: :post %>  
      </p>
    </div>
  </div>
</div>




