<h1>Today's Routine:</h1>

<% timeframes = ['daily', 'weekly', 'monthly'] %>

<% timeframes.each do |time| %>
	<% assignment = @routine.send(time) %>
	<%= render assignment %>
<% end %>
<hr />
<div class="row">
	<div class="well center">
			<h3><%= link_to "Get a new routine", routine_path,
						method: :post %></h3> 
	</div>
</div>