
	<h1><%= assignment.timeframe.capitalize %> Exercise: </h1>
<div class="row">
	<%= assignment.updated_at %>
<!-- 	<div class="col-md-9"> -->		
<%= render assignment.scorecard.exercise %>

<!-- 	<div class="col-md-3">
		<% link_to "SCORE", assignment.scorecard, class: "btn btn-lg btn-primary vertical-align center" %>
	</div> -->
</div>