<div class="row center">
	<div class="col-md-9">	
		<%= render assignment.scorecard.exercise %>
	</div>
	<div class="col-md-3">
		<%= render partial: 'scorecards/score_widget', 
					locals: {scorecard: assignment.scorecard} %>
	</div>
</div>