<div class="center">
  <h1>Today's Daily Exercise: <% @scorecard %></h1>
  <h2><%= @user.daily_updated_at.localtime.strftime("Assigned on %m / %d / %Y at %H:%M") %>
  <% if @user.needs_new_daily? %>
      | <%= link_to "Get an exercise for today", assign_new_daily_path %>
  <% end %>
  </h2>
</div>
<div class="row top-padding text-center">
  <div class="well">
    <p>
    I give up on this one, <%= link_to "give me a new one!", assign_new_daily_path %>
    </p>
  </div>
</div>
