<div class="center">
  <h2><%= @user.daily_updated_at.localtime.strftime("Assigned on %m / %d / %Y at %H:%M") %>
  <% if @user.needs_new_daily? %>
      | <%= link_to "Get an exercise for today", assign_new_daily_path %>
  <% end %>
  </h2>

  <h1>Today's Daily Exercise: </h1>
  <%= render @scorecard %>
</div>

<div class="row top-padding text-center">
    <p>
    <%= link_to "Reset my scores", reset_scorecard_path(current_user, @scorecard) , class: "btn btn-danger" %>
    </p>
  </div>
</div>


