<div class="row center">
	<div class="col-md-8 col-md-offset-2">
		<h1>Welcome to Drumbeat!</h1>
	</div>
</div>
<div class="row">
	<div class="well center">
	<%= link_to "Quick Practice", random_scorecard_path, class: "btn btn-default btn-lg btn-primary big-button" %>
	<%= link_to "Practice Routine", routine_path, class: "btn btn-default btn-lg btn-primary big-button" %>
	</div>
</div>
<div class="row">
	<div class="well center">
		<p>To jump straight in to a random exercise, choose 'Quick Practice', or, to get a routine to work on, choose 'Practice Routine'!</p>
	</div> 
</div>