<h1><%= @user.name %></h1>

<div class="row text-center">
	<div class="col-md-6">
		<div class="btn-group">
			<%= link_to "Quick Practice", "scorecards/random", class: "btn btn-default btn-lg btn-primary" %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="btn-group"> 
			<%= link_to "Practice Routine", routine_path, class: "btn btn-default btn-lg btn-primary" %>
			</div>
		</div>
	</div>
</div>