
<div class="center jumbotron">
  <h1>Welcome to Drumbeat</h1>

  <h2>
    Get practising your chops before unleashing them on the world!
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>