
<div class="container">
  <h1>Welcome to Drumbeat</h1>
  
  <% if @current_user %>
    <p><%= "Hello #{@current_user.email}" %></p>
  <% end %>
  <p>
    <%= link_to "Sign up", "/signup", class: "btn btn-primary btn-lg" %>
  </p>
</div>