<% if @scorecard.score4.present? || @scorecard.score60.present? || @scorecard.score5.present? %>
	<div class="table-responsive">
	    <table class="table table-striped">
	        <thead>
	            <tr>
	              <th></th>
	              <th>4 bars</th>
	              <th>60 seconds</th>
	              <th>5 minutes</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr>
	        		<td><strong>High Scores:</strong></td>
	        		<td><%= dash_nils @scorecard.score4 %></td>
	        		<td><%= dash_nils @scorecard.score60 %></td>
	        		<td><%= dash_nils @scorecard.score5 %></td>
	        	</tr>
	        </tbody>
	    </table>
	</div>
<% else %>
	<p>No scores set.</p>
<% end %>