<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th></th>
              <th>4 bars</th>
              <th>60 seconds</th>
              <th>5 minutes</th>
              <td></td>
            </tr>
        </thead>
        <tbody>
        	<tr>
        		<td><strong>High Scores:</strong></td>
        		<%= render partial: 'scorecards/text_scores' %>
        	</tr>
        </tbody>
    </table>
</div>